.gridTwoImages {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.gridTwoImages > div + div {
  margin-left: 2rem;
}

.oneImageBlockCustomClass {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.imageTitleTextGrid > img {
  width: 100%;
  max-width: 580px;
}

.imageTitleTextGrid  {
  width: calc(100% - 80px);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 40px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.imageTitleTextGrid > .text-and-image-block-textContainer-hero {
  max-width: 500px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 80px;

  font-family: var(--font-notosans);
  width: calc(100% - 80px);
}

.imageTitleTextGrid > .text-and-image-block-span {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: -0.1rem;
}

.imageTitleTextGrid .text-and-image-block-paragraph > p > p{
  font-family: var(--font-notosans);
  font-size: 16px;
  line-height: 160%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
}


.titleSubtitleContextCustomClass > .title__subtitle__context__container_title {
  font-family: var(--font-poppins);
  font-size: 32px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: 500;
  padding-top: 80px;
  max-width: 710px;
  text-align: start;
  display: flex;
  justify-content: center;
}

.titleSubtitleContextCustomClass {
  box-shadow: none;
  max-width: 680px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 0px;
  margin: 0 auto;
}

.titleSubtitleContextCustomClass > .title__subtitle__context__span__container {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.titleSubtitleContextCustomClass > .title__subtitle__context__span__contextDefaultValue {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.title__subtitle__context__span__contextDefaultValue {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.text__container__html {
  font-family:var(--font-notosans);
  font-size: 16px;
  line-height: 160%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 400;
}

.awardCustomClass {
  width: 80px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 80px;
  margin-left: 86px;
  margin-right: 80px;
  margin-bottom: 80px;
  margin-top: -30px !important;
}

.awardCustomClass > img {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.titleTextBlock {
  box-shadow: none;
  max-width: 680px;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px !important;
  margin: 0 auto;
}

.titleTextBlock > h1 {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.titleTextBlock > span {
  font-family: var(--font-notosans);
  font-size: 16px;
  line-height: 160%;
  color: rgb(20, 38, 52);
  margin-top: -16px !important;
  font-weight: 400;
}

.nextProjectCustomClass {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.nextProjectContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px;
}

.nextProjectContainerImage {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 380px;
  max-width: 580px;
  margin-left: 40px;
  margin-right: 40px;
}

.nextProjectContainerRightHero5Span {
  font-family: var(--font-poppins);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.nextProjectContainerRightHero7Span {
  font-family: var(--font-poppins);
  font-size: 32px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 500;
}

.nextProjectContainerRightHero8Description {
  font-family: var(--font-notosans);
  font-size: 14px;
  line-height: 160%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 400;
}

.nextProjectContainerRightHero9ContainerSlug {
  border-color: rgb(20, 38, 52);
  border-style: solid;
  border-width: 1px;
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: all 0.25s ease-in 0s;
  padding: 8px 16px 8px 32px;
  max-width: 152px;
}

.nextProjectContainerRightHero9ContainerSlug > a {
  cursor: pointer;
  display: flex;
  color: inherit;
  text-decoration: none;
}

.nextProjectContainerRightHero12SlugSpan {
  font-family: var(--font-notosans);
  font-size: 12px;
  line-height: 110%;
  color: rgb(20, 38, 52);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  text-transform: capitalize;
  font-weight: 700;
}

.imageTitleTextGrid > .text-and-image-block-textContainer-hero > p {
  margin-bottom: 1rem;
  line-height: 160% !important;
}

.titleTextBlock > .titleTextBlock__span__subtitle > p {
  margin-bottom: 1rem;
}

.text__container__html > p {
  margin-bottom: 0.5rem;
}

.prose > :first-child {
  padding-bottom: 80px !important;
  padding-top: 40px;
}