@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (max-width: 425px) {
  .embla__slide {
    width: 1200px;
    height: 100%;
    flex: none;
    position: relative;
  }
} */

.title__top {
    font-family: var(--font-poppins);
    font-size: 12px;
    line-height: 110%;
    color: rgb(20, 38, 52);
    margin-top: 0px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
}

.sideMenuBgColor {
  background-color: #142634;
  padding: 40px 40px 96px;
}

.menuItemText {
  font-family: var(--font-poppins);
  font-size: 32px;
  line-height: 110%;
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 500;
}

.menuBackgroundGradient {
  background: linear-gradient(
    rgba(43, 50, 51, 0.15) 0%,
    rgba(43, 50, 51, 0) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}
body {
  padding: 0;
  margin: 0;
  background-color: #f1ede2;
}

iframe {
  border: unset;
}

a {
  color: inherit;
  text-decoration: none;
}

@media(max-width: 425px) {
  .page-block  {
    margin-top: 50rem;
    
  }

  .page-block > div {
    width: 392px !important;
    margin-left: 1rem;
  }

  .page-block >div {
    gap: 12px !important;
  }

  .page-block > div>div > img {
    background-position: center center;
    background-size: cover;
    width: 392px !important;
    height: 280px !important;
    min-width: 0px !important;
    min-height: 0 !important;
  }
}

@media(width: 375px) {
  .page-block  {
    margin-top: 50rem;
  }

  .page-block > div {
    width: 375px !important;
  }

  .page-block >div {
    gap: 12px !important;
  }

  .page-block > div > div > img {
    background-position: center center;
    background-size: cover;
    width: 370px !important;
    height: 280px !important;
    min-width: 0px !important;
    min-height: 0 !important;
  }
}

@media(width: 320px) {
  .page-block  {
    margin-top: 50rem;
  }

  .page-block > div {
    width: 290px !important;
  }

  .page-block >div {
    gap: 12px !important;
  }

  .page-block > div > div > img {
    background-position: center center;
    background-size: cover;
    width: 300px !important;
    height: 280px !important;
    min-width: 0px !important;
    min-height: 0 !important;
  }
}

@media(width: 768px) {
  .page-block {
    margin-top: -6.1rem;
  }
  .page-block > div {
    width: 736px !important;
    margin-left: 1rem;
  }

  .page-block >div {
    gap: 12px !important;
  }

  .page-block > div>div > img {
    background-position: center center;
    background-size: cover;
    width: 736px !important;
    height: 280px !important;
    min-width: 0px !important;
    min-height: 0 !important;
  }
}

@media(width: 1024px) {
  .page-block {
    margin-top: -5.1rem;
  }
  .page-block > div {
    max-width: 1024px !important;
    width: 100% !important;
    margin: 0px 30px 0px 35px;
  }

  .page-block >div {
    gap: 0px !important;
  }

  .page-block * img {
    background-position: center center;
    background-size: cover;
    width: 460px !important;
    height: 452px !important;
    min-width: 0px !important;
    min-height: 0 !important;
  }
}

.projectsIndicatorAnimation {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  animation-name: bounce;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
  position: relative;
  transform-origin: center bottom;
  margin-top: 1px;
  margin-right: 8px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounceAnimation {
  animation: bounce 1s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}